.maincont { background: url(../images/kosmo.jpg) center 0 no-repeat; /*top: -50px;*/ position: relative; min-height: calc(100vh - 50px); background-size: cover;}
.maincont::before { display: block; position: absolute; content: ' '; top: -50px; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.6); }
.mainpage { position: relative; max-width: 980px; margin: 0 auto; padding: 60px 20px; font-family: 'Exo 2', Arial, sans-serif; color: #fff; text-align: center; z-index: 10; }
	.mainpage *,
	.mainpage::before,
	.mainpage::after { margin: 0; padding: 0; outline: none; box-sizing: border-box; }
	
	.mainpage__logo { display: block; width: 200px; height: 200px; margin: 0 auto; }
	
	.mainpage__title { margin: 30px auto 25px; font-weight: normal; font-size: 50px; }
	
	.mainpage__text { font-weight: normal; font-size: 26px; }
	
	.mainpage__button { display: inline-block; position: relative; height: 40px; margin: 30px auto 110px; padding: 0 20px; font-weight: normal; font-size: 26px; color: #fff; line-height: 36px; text-decoration: none; background-color: #008FCB; border-radius: 5px; transition: 0.3s all; }
	.mainpage__button:hover { color: #fff; box-shadow: inset 0 0 50px 50px rgba(255,255,255,0.2); }
	.mainpage__button:active { color: #fff; box-shadow: inset 0 0 50px 50px rgba(0,0,0,0.2); }
		.mainpage__button::before,
		.mainpage__button::after { display: block; position: absolute; left: 50%; }
		
		.mainpage__button::before { content: ' '; top: 46px; width: 22px; height: 44px; margin-left: -11px; background: url(../images/arrow_curve_white.png) 0 0 no-repeat; }
		.mainpage__button::after { content: attr(data-message); top: 83px; width: 600px; margin-left: -300px; font-weight: normal; font-size: 26px; text-transform: none; letter-spacing: 0; }
	
	.mainpage__footer { font-size: 0; }
		.mainpage__footer > * { display: inline-block; vertical-align: middle; }
		
		.mainpage__footer__languages { display: block; height: 18px; margin-top: 20px; }
			.mainpage__footer__languages > * { display: inline-block; vertical-align: middle; }
			.mainpage__footer__languages__link { margin-right: 10px; font-size: 16px; color: #fff; text-decoration: none; border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__languages__link:last-child { margin-left: 0; }
			.mainpage__footer__languages__link:hover { border-bottom-color: rgba(255,255,255,0.5); }
			.mainpage__footer__languages__link:active { opacity: 0.75; }
			
			.mainpage__footer__languages__button { position: relative; width: 18px; height: 18px; background-color: #fff; border: none; border-radius: 100%; transition: 0.3s all; }
				.mainpage__footer__languages__button::before { display: block; position: absolute; content: '/'; top: 7px; right: 0; left: 0; font-weight: bold; font-size: 17px; color: #1A0A10; text-align: center; line-height: 0; }
				
		.mainpage__footer__telegram { position: relative; height: 18px; padding-right: 28px; font-size: 16px; color: #fff; text-decoration: none; border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__telegram > span { border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__telegram:hover > span { border-bottom-color: rgba(255,255,255,0.5); }
			.mainpage__footer__telegram:active > span { opacity: 0.75; }
			
			.mainpage__footer__telegram::after { display: block; position: absolute; content: '>'; box-sizing: border-box; top: 1px; right: 0; width: 18px; height: 18px; padding-left: 2px; font-weight: bold; font-size: 20px; color: #1A0A10; text-align: center; line-height: 14px; background-color: #fff; border-radius: 100%; transition: 0.3s all; }
			.mainpage__footer__telegram:hover::after { color: #fff; background-color: #008FCB; }
			.mainpage__footer__telegram:active::after { color: #fff; background-color: #333; }
				
		.mainpage__footer__separator { display: none; }
		
		.mainpage__footer__help { position: relative; height: 18px; margin-left: 30px; padding-right: 28px; font-size: 16px; color: #fff; text-decoration: none; border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__help > span { border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__help:hover > span { border-bottom-color: rgba(255,255,255,0.5); }
			.mainpage__footer__help:active > span { opacity: 0.75; }
			
			.mainpage__footer__help::after { display: block; position: absolute; content: '?'; top: 1px; right: 0; width: 18px; height: 18px; font-weight: bold; font-size: 18px; color: #1A0A10; text-align: center; line-height: 18px; background-color: #fff; border-radius: 100%; transition: 0.3s all; }
			.mainpage__footer__help:hover::after { color: #fff; background-color: #008FCB; }
			.mainpage__footer__help:active::after { color: #fff; background-color: #333; }
			
		.mainpage__footer__socio { position: relative; height: 18px; margin-left: 30px; padding-right: 28px; font-size: 16px; color: #fff; text-decoration: none; border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__socio > span { border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__socio:hover > span { border-bottom-color: rgba(255,255,255,0.5); }
			.mainpage__footer__socio:active > span { opacity: 0.75; }
			
			.mainpage__footer__socio::after { display: block; position: absolute; content: 'ҩ'; box-sizing: border-box; top: 1px; right: 0; width: 18px; height: 18px; padding-left: 2px; font-weight: bold; font-size: 20px; color: #1A0A10; text-align: center; line-height: 14px; background-color: #fff; border-radius: 100%; transition: 0.3s all; }
			.mainpage__footer__socio:hover::after { color: #fff; background-color: #008FCB; }
			.mainpage__footer__socio:active::after { color: #fff; background-color: #333; }
			
		.mainpage__footer__lokalizo { position: relative; height: 18px; margin-left: 30px; padding-right: 28px; font-size: 16px; color: #fff; text-decoration: none; border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__lokalizo > span { border-bottom: 1px solid transparent; transition: 0.3s all; }
			.mainpage__footer__lokalizo:hover > span { border-bottom-color: rgba(255,255,255,0.5); }
			.mainpage__footer__lokalizo:active > span { opacity: 0.75; }
			
			.mainpage__footer__lokalizo::after { display: block; position: absolute; content: 'α'; box-sizing: border-box; top: 1px; right: 0; width: 18px; height: 18px; padding-left: 2px; font-weight: bold; font-size: 20px; color: #1A0A10; text-align: center; line-height: 14px; background-color: #fff; border-radius: 100%; transition: 0.3s all; }
			.mainpage__footer__lokalizo:hover::after { color: #fff; background-color: #008FCB; }
			.mainpage__footer__lokalizo:active::after { color: #fff; background-color: #333; }


.mainpage_mapo{

}

.open-menu{
    display: block;
	position: absolute;
	top: 18px;
	border-radius: 5px;
	width: 180px;
	float: right;
	/*height: 172px;*/
	background-color: white;
	border: 1px solid #ccc;
	z-index: 1000;
	left: 790px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
	padding-bottom: 13px !important;
	margin-top: 10px !important;
	margin-left: calc((100% - 980px)/2) !important;
}

.open-menu form{
	display: block;
	padding: 5px;
}

.open-menu::before{
    display: block;
    position: absolute;
    content: ' ';
    left: 156px;
    top: -6px;
    width: 0;
    height: 0;
    margin-top: 0;
    border: 6px solid transparent;
    border-bottom-color: white;
    border-top-width: 0;
    z-index: 996;
}

.open{
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
}

.open-menu::after{
	display: block;
    position: absolute;
    content: ' ';
    left: 155px;
    top: -7px;
    width: 0;
    height: 0;
    z-index: 995;
    margin-top: 0;
		border: 7px solid transparent;
        border-bottom-color: grey;
    	border-top-width: 0;
}
