{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'enhavo/style/enhavo.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}
    {{ enhavo.nomo }}
{% endblock title %}
{% block main_side %}
    <div class="feed-cont1">
    <div class="enhavo_informo">


<div class="enhavo_bloko">
    <div class="enhavo_teksto">
        <div class="enhavo_teksto_titolo">
            <div>{{ enhavo.nomo }}</div>
        </div>
        <div>
            <div>{{ enhavo.teksto|safe }}</div>
        </div>
    </div>
</div>


    </div>
    </div>
{% endblock main_side %}