.komunumoj_kovrilo{
	width: 820px;
	height: 200px;
	border-radius: 5px;
	background-color: #DFDFDF;
	margin-bottom: 10px;
}

.komunumoj_kovrilo h2{
	text-shadow: 0 0 10px #000;
}

.g-inf-bl{
	margin-top: 10px;
	width: 798px;
	height: 42px;
	border-radius: 5px;
	background-color: #E8BB42;
	border: 1px solid #D7AA31;
	padding: 10px 10px 0 10px;
	color: #FFFFFF;
}

.komunumoj_kovrilo > .komunumoj_kovrilo_bildo{
	width: 100%;
	height: 200px;
	border-radius: 5px;
}

.shadow-cov-field{
	height: 200px;
	width: 250px;
	margin-left: 570px;
	position: absolute;
	top: 0px;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0 5px 5px 0px;
}
.g-title{
	color: white;
	font-size: 19.5px;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 15px;
}
.pod-title{
	color: white;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
	font-weight: normal;
}
.g-title-bl{
	height: 100px;
	width: 570px;
	position: absolute;
	top: 100px;
	z-index: 100;
}
.g-btn-cont{
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
}

.feed-cont{
	width: 100%;
	height: auto;
}

.feed-cont ul { 
	padding: 0px 0px; 
	list-style-type: none;
}

.feed-cont li {
	list-style-type: none;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px -15px; 
}

.g-right-block{
	width: 248px;
	/*margin-left: 25px;*/
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	position: relative;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.g-right-block > p{
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 13px;
}

.feed-bl{
	width: 560px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	padding: 0 10px 0 10px;
	margin-top: 10px;
}

.feed-bl > h2{
	font-size: 16px;
	font-weight: bold;
}
.feed-bl > ul{
	margin-left: 15px;
    list-style: square;
}
.feed-bl > ul > li{
	font-size: 13px;
	text-decoration: none !important;
}

a > .adm-butt{
	height: 25px;
	color: black;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	font-family: sans-serif;
}

a > .adm-butt-malakt{
	height: 25px;
	color: #AAAAAA;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 500;
	cursor: default;
	font-family: sans-serif;
}

a{
	text-decoration: none !important;
}

#komunumoj_butono_aktiva{
	background-color: #008FCB;
	color: #FFFFFF !important;
	border: 1px solid #006DA9 !important;
}

.via-soveto, .joining {
	height: 26px;
	width: 230px;
	font-family: sans-serif;
	padding-top: 4px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 400;
	border-radius: 3px;	
}

.joining, .joining:hover {
	background-color: rgba(0, 172, 123, 0.8);
	border-color: rgba(0, 172, 123, 0.8);
	box-shadow: none !important;
}

.via-soveto, .via-soveto:hover {
	background-color: #990000;
	border-color: #990000;
	box-shadow: none !important;
}

/*.leaving, .leaving:hover {
	background-color: rgba(0, 123, 172, 0.8);
	border-color: rgba(0, 123, 172, 0.8);
	box-shadow: none !important;
}*/

.komunumoj_btn {
	width: 230px;
	margin-left: 10px;
	margin-top: 10px;
	align-content: center;
}

.komunumoj_btn .btn-group {
	width: 100%;
}

.komunumoj_btn input {
	vertical-align: bottom;
}

.komunumoj_btn button,
.komunumoj_btn button:disabled {
	opacity: 1 !important;
	font-size: 16px;
	padding-top: 0;
	padding-bottom: 0;
}

.komunumoj_btn .act_btn {
	width: 200px !important;
	margin: auto !important;
}

.komunumoj_btn .via {
	background: #990000;
	border-color: #990000;
}

.komunumoj_btn .leaving {
	background-color: rgba(0, 123, 172, 0.8);
	border-color: rgba(0, 123, 172, 0.8);
}

.dropdown-item a {
	color: #212529 !important;
}

.dropdown-item a[data-checked="0"] i::before {
	color: rgba(204, 204, 204, 0.71);
	content: "\f10c";
}

.dropdown-item a[data-checked="load"] i::before {
	content: "\f110";
}

.dropdown-item a[data-checked="1"] i::before {
	color: rgb(12, 204, 0);
}

.komunumoj_btn .joining {
	background-color: rgba(0, 172, 123, 0.8) !important;
	border-color: rgba(0, 172, 123, 0.8) !important;
	width: 230px;
	margin-top: 0;
}

.joining:hover,
.joining:active,
.joining:focus/*,
.leaving:hover,
.leaving:active,
.leaving:focus*/ {
	box-shadow: none !important;
}

.komunumoj_avataro {
	height: 90px;
	width: 90px;
	margin-left: calc((250px - 90px)/2);
	margin-top: 20px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	background-color: #DFDFDF;
}

.komunumoj_avataro img{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.progress-bar{
	height: 8px;
	width: 230px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.24) !important;
	margin-top: 10px;
	margin-left: 10px;
	overflow: hidden;
}

.progress{
	background: red;
	height: 100%;
}

.peoples{
	margin-top: 8px;
	color: white !important;
	font-size: 13px;
	font-weight: 700;
	margin-left: 10px;
}

.komunumoj_socio_chiuj{
	width: 818px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.komunumoj_socio_chiuj_bloko{
	padding: 0 10px 0 10px;
}

.komunumoj_socio_listo{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0;
}

.komunumoj_socio_listo_item{ display: block; position: relative; min-height: 50px; margin-top: 17px; padding-left: 60px;  }

.komunumoj_socio_listo_item:first-child { margin-top: 0; }

.komunumoj_socio_listo_item_image { display: block; position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }
.komunumoj_socio_listo_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.komunumoj_socio_listo_item_titolo { padding-top: 4px; padding-bottom: 2px;}

.komunumoj_socio_listo_item_grado{

}

.komunumoj_socio_listo_item_grado  > img {
	vertical-align: middle;
    width: 730px;
    height: 12px;
}

/*Informo*/

.komunumoj_informo{
	width: 818px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	margin-top: 10px;
	display: inline-block;
}

.komunumoj_informo_bloko{
	padding: 0 10px 0 10px;
}

.komunumoj_informo_teksto{
    width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
}

.komunumoj_informo_teksto a {
	font-weight: normal;
}

.komunumoj_informo_teksto_titolo, .komunumoj_informo_ligilo_titolo{
	padding-bottom: 10px;
	font-weight: bold;
}

.komunumoj_informo_ligilo {
	border-top: 1px solid #DFDFDF;
	padding: 10px 0 10px 0;
}

.komunumoj_informo_bildo{
	border-top: 1px solid #DFDFDF;
	padding: 10px 0 10px 0;
}

.komunumoj_informo_bildo img{
	max-width: 538px;
	vertical-align: middle;
}

/* TABS */
.tabs {
    position: relative;
    margin: 0 auto;
	width: 798px;
}

.tabs label {
	padding-top: 10px;
	padding-bottom: 25px;
	margin-right: 10px;
	display: block;
	float: left;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
	font-size: 13px;
	position: relative;
	height: 27px;
	line-height: 20px;
	text-align: center;
	z-index: 1;
}

.tabs input[name="tab"][type="radio"] {
	position: absolute;
	left: -9999px;}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3,
#tab_4:checked  ~ #tab_l4,
#tab_5:checked  ~ #tab_l5{
	background: #fff;
	border-bottom: 2px solid #BCBCBC;
	top: 0;
	z-index: 3;}

.tabs_cont {
	background: #fff;
	width: 798px;
	position: relative;
	z-index: 2;
}
.tabs_cont > div {
	position: absolute;
	top: -99999px;
	left: -9999px;
	opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5{
	position: static;
	left: 0;
	opacity: 1;}