{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Главная страница</title>

    <link rel="stylesheet" href="{% static "" %}css/cover.css">
</head>
<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Сервер Сириусо</h3>
            <nav class="nav nav-masthead justify-content-center">
                {% comment %} <a class="nav-link active" href="{% url 'home' %}">Главная</a> {% endcomment %}
                {% if user.is_authenticated %}
                    <span class="nav-link">Привет, {{ user.username }}!</span>
                    <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                {% comment %}
                {% else %}
                    <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    <a class="nav-link" href="{% url 'login' %}">Вход</a>
                {% endcomment %}
                {% endif %}
            </nav>

        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><a href="https://universo.pro/">ПК "СОВЕТСКИЕ РОБОТЫ"</a></p>
    </div>
  </footer>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>